@model practicaV1.Models.cAlquiler

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cAlquiler</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idAlquiler)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idAlquiler)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costoTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fkHabitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fkHabitacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fkCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fkCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fkRegistrador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fkRegistrador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fkEstado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fkEstado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idAlquiler" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
